In [4]:
# Import Dependencies
import pandas as pd
import os



# Read the JSON file
my_json = os.path.join('purchase_data.json')
purchDF = pd.read_json(my_json)
purchDF.head(20)

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59
5,20,Male,10,Sleepwalker,1.73,Tanimnya91
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92
10,24,Male,57,"Despair, Favor of Due Diligence",3.81,Chamosia29
11,20,Male,47,"Alpha, Reach of Ending Hope",1.55,Sally64
12,30,Male,81,Dreamkiss,4.06,Iskossa88
13,23,Male,77,"Piety, Guardian of Riddles",3.68,Seorithstilis90
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29
15,21,Male,96,Blood-Forged Skeletal Spine,4.77,Haellysu29
16,22,Female,123,Twilight's Carver,1.14,Sundista85
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34
18,28,Male,91,Celeste,3.71,Iskista88
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43

In [7]:
## Player Count
totalPlayers = purchDF['SN'].nunique()
# players['Total Players'] = purchDF['SN'].nunique()
# players
totalPlayers

573

In [164]:
## Purchasing Analysis (Total)
# purchSum = purchDF

# number of unique items
# purchSum['Number of Unique Items'] = purchDF['Item ID'].nunique()
totalItems = purchDF['Item ID'].nunique()

# total number of purchases
purchaseNum = len(purchDF.index)
purchaseNum

# avg purchase price
# purchSum['Average Price'] = purchDF['Price'].sum() / totalItems
avgPrice = purchDF['Price'].sum() / purchaseNum

# total revenue
revenueTotal = purchaseNum * avgPrice
revenueTotal

purchSum = pd.DataFrame(columns = ['Number of Unique Items', 'Average Price'])
purchSum['Number of Unique Items'] = [totalItems]
purchSum['Average Price'] = [avgPrice]
purchSum['Number of Purchases'] = [purchaseNum]
purchSum['Total Revenue'] = [revenueTotal]
# purchSum.iloc[1, 0] = totalItems

#                         PurchSum['Number of Unique Items'] = totalItems
# purchSum['Average Price'] = avgPrice

# purchSum = purchSum.set_index('Number of Unique Items')
purchSum

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       2.931192                  780        2286.33

In [92]:
## Gender Demographics







gender_df = pd.DataFrame(columns = ['Gender', 'Percentage of Players', 'Total Count'])
gender_df['Gender'] = ['Male',  'Female', 'Other / Non-Disclosed']
# gender_df.set_index('Gender')
# gender_df['Percentage of Players'] = purchDF['Gender'].value_counts()
# gender_df

gender_dict =  purchDF['Gender'].value_counts()

# % Male
maleCount = gender_dict['Male']
malePerc = maleCount / totalPlayers

# % Female
femaleCount = gender_dict['Female']
femalePerc = femaleCount / totalPlayers
femalePerc

# % Other/Non-disclosed
otherCount = gender_dict['Other / Non-Disclosed']
otherPerc = otherCount / totalPlayers
otherPerc

# Add values to DF??
gender_df['Percentage of Players'] = [malePerc, femalePerc, otherPerc]

gender_df = gender_df.set_index('Gender')
gender_df

                       Percentage of Players Total Count
Gender
Male                                1.104712         NaN
Female                              0.237347         NaN
Other / Non-Disclosed               0.019197         NaN

In [108]:
# Get DF of unique player names & genders
# Just SNs and Gender
playerDF = purchDF.iloc[:,[1,5]]
playerDF = playerDF.drop_duplicates()

genCounts = playerDF['Gender'].value_counts()
playerDF.head()
genCounts = genCounts.to_frame("Total Count")
genCounts["Percentage of Players"] = genCounts['Total Count']/totalPlayers
genCounts

                       Total Count  Percentage of Players
Male                           465               0.811518
Female                         100               0.174520
Other / Non-Disclosed            8               0.013962

In [156]:
genDF= purchDF.groupby('Gender').Price.count()
genDF = genDF.to_frame('Purchase Count')
genDF['Average Purchase Price'] = purchDF.groupby('Gender').Price.mean()
genDF['Total Purchase Value'] = purchDF.groupby('Gender').Price.sum()

genDF['Total Purchase Value'] = genDF['Total Purchase Value'].map('${:.2f}'.format)
genDF['Average Purchase Price'] = genDF['Average Purchase Price'].map('${:.2f}'.format)


genDF

# What is "Normalized Total"???

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,136,$2.82,$382.91
Male,633,$2.95,$1867.68
Other / Non-Disclosed,11,$3.25,$35.74

In [ ]:
## Purchasing Analysis (Gender)

In [130]:
## Age Demographics
bins = [0, 9, 14, 19, 24, 29, 34, 39, 999]
age_groups = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+' ]

purchDF['Age Group'] = pd.cut(purchDF['Age'], bins, labels=age_groups)
purchDF.head(30)
# Purchase Count
# Average Purchase Price

9 8

,Age,Gender,Item ID,Item Name,Price,SN,Number of Unique Items,Average Price,Age Group
0,183,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,183,12.493607,40+
1,183,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,183,12.493607,40+
2,34,Male,174,Primitive Blade,2.46,Assastnya25,183,12.493607,30-34
3,21,Male,92,Final Critic,1.36,Pheusrical25,183,12.493607,20-24
4,23,Male,63,Stormfury Mace,1.27,Aela59,183,12.493607,20-24
5,20,Male,10,Sleepwalker,1.73,Tanimnya91,183,12.493607,20-24
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97,183,12.493607,20-24
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29,183,12.493607,25-29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63,183,12.493607,25-29
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92,183,12.493607,30-34
10,24,Male,57,"Despair, Favor of Due Diligence",3.81,Chamosia29,183,12.493607,20-24
11,20,Male,47,"Alpha, Reach of Ending Hope",1.55,Sally64,183,12.493607,20-24
12,30,Male,81,Dreamkiss,4.06,Iskossa88,183,12.493607,30-34
13,23,Male,77,"Piety, Guardian of Riddles",3.68,Seorithstilis90,183,12.493607,20-24
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29,183,12.493607,40+
15,21,Male,96,Blood-Forged Skeletal Spine,4.77,Haellysu29,183,12.493607,20-24
16,22,Female,123,Twilight's Carver,1.14,Sundista85,183,12.493607,20-24
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34,183,12.493607,20-24
18,28,Male,91,Celeste,3.71,Iskista88,183,12.493607,25-29
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43,183,12.493607,30-34
20,24,Male,78,"Glimmer, Ender of the Moon",2.33,Irith83,183,12.493607,20-24
21,15,Male,3,Phantomlight,1.79,Iaralrgue74,183,12.493607,15-19
22,11,Female,11,Brimstone,2.52,Deural48,183,12.493607,10-14
23,19,Male,183,Dragon's Greatsword,2.36,Chanosia65,183,12.493607,15-19
24,11,Male,65,Conqueror Adamantite Mace,1.96,Qarwen67,183,12.493607,10-14
25,21,Male,63,Stormfury Mace,1.27,Idai61,183,12.493607,20-24
26,29,Male,132,Persuasion,3.90,Aerithllora36,183,12.493607,25-29
27,34,Male,106,Crying Steel Sickle,2.29,Assastnya25,183,12.493607,30-34
28,15,Male,49,"The Oculus, Token of Lost Worlds",4.23,Ilariarin45,183,12.493607,15-19
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25,183,12.493607,15-19

In [157]:
## Purchasing Analysis (Age)
ageDF= purchDF.groupby('Age Group').Price.count()
ageDF = ageDF.to_frame('Purchase Count')
ageDF['Average Purchase Price'] = purchDF.groupby('Age Group').Price.mean()
ageDF['Total Purchase Value'] = purchDF.groupby('Age Group').Price.sum()

ageDF['Average Purchase Price'] = ageDF['Average Purchase Price'].map('${:.2f}'.format)
ageDF['Total Purchase Value'] = ageDF['Total Purchase Value'].map('${:.2f}'.format)
ageDF

           Purchase Count Average Purchase Price Total Purchase Value
Age Group
<10                    28                  $2.98               $83.46
10-14                  35                  $2.77               $96.95
15-19                 133                  $2.91              $386.42
20-24                 335                  $2.91              $976.45
25-29                 125                  $2.96              $370.33
30-34                  64                  $3.08              $197.25
35-39                  41                  $2.83              $116.03
40+                    19                  $3.13               $59.44

In [158]:
## Top Spenders
nameDF= purchDF.groupby('SN').Price.count()
nameDF = nameDF.to_frame('Purchase Count')
nameDF['Average Purchase Price'] = purchDF.groupby('SN').Price.mean()
nameDF['Total Purchase Value'] = purchDF.groupby('SN').Price.sum()
nameDF = nameDF.sort_values('Total Purchase Value', ascending = 0)
nameDF = nameDF.iloc[0:5, :]


nameDF['Average Purchase Price'] = nameDF['Average Purchase Price'].map('${:.2f}'.format)
nameDF['Total Purchase Value'] = nameDF['Total Purchase Value'].map('${:.2f}'.format)

nameDF

             Purchase Count Average Purchase Price Total Purchase Value
SN
Undirrala66               5                  $3.41               $17.06
Saedue76                  4                  $3.39               $13.56
Mindimnya67               4                  $3.18               $12.74
Haellysu29                3                  $4.24               $12.73
Eoda93                    3                  $3.86               $11.58

In [160]:
## Most Popular Items
itemList = purchDF.iloc[:,[2,3]]
itemList = itemList.drop_duplicates

itemDF = purchDF.groupby('Item Name').Price.count()
itemDF = itemDF.to_frame("Purchase Count")
itemDF['Item Price'] = purchDF.groupby('Item Name').Price.mean()

# itemDF['Item ID'] = purchDF.groupby('Item Name').Item ID.mean()

itemDF['Total Purchase Value'] = purchDF.groupby('Item Name').Price.sum()
itemDF = itemDF.sort_values('Purchase Count', ascending = 0)

itemDF['Total Purchase Value'] = itemDF['Total Purchase Value'].map('${:.2f}'.format)
itemDF['Item Price'] = itemDF['Item Price'].map('${:.2f}'.format)
itemDF.head()
# itemList

,Purchase Count,Item Price,Total Purchase Value
Item Name,,,
Final Critic,14,$2.76,$38.60
Arcane Gem,11,$2.23,$24.53
"Betrayal, Whisper of Grieving Widows",11,$2.35,$25.85
Stormcaller,10,$3.46,$34.65
Woeful Adamantite Claymore,9,$1.24,$11.16

In [161]:
## Most Profitable Items
itemDF = itemDF.sort_values('Item Price', ascending = 0)
itemDF.head()

,Purchase Count,Item Price,Total Purchase Value
Item Name,,,
Orenmir,6,$4.95,$29.70
"Winterthorn, Defender of Shifting Worlds",4,$4.89,$19.56
Singed Scalpel,6,$4.87,$29.22
Stormfury Longsword,5,$4.83,$24.15
The Decapitator,3,$4.82,$14.46